#container {
}

.grid-image-gallery {

}

.grid-image-gallery .clear-gallery {
    clear: both;
}

.grid-image-gallery img {
    display: none;
}

.grid-image-gallery > div {
    display: inline-block;
    border: 0;
    padding: 0;
    float: left;
}
