#container {
}

.grid-image-gallery {

}

.grid-image-gallery .clear-gallery {
    clear: both;
}

.grid-image-gallery img {
    display: none;
}

.grid-image-gallery > span {
    display: inline-block;
    border: 0;
    padding: 0;
    float: left;
}

.grid-image-gallery .loading-box {
    display: block;
    width: 31px;
    height: 31px;
    margin: 0 auto;
    position: relative;
    top: 50%;
}

.grid-image-gallery .loading {
    display: block;
    width: 31px;
    height: 31px;
    background-image: url('../images/loading.gif');
    margin-top: -15.5px;
}
